<div class="container">
  <div class="row mt-5">
    <div class="col col-6 offset-3">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header text-center font-weight-bold text-dark text-uppercase">
          Sign Up
        </div>

        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">Email:</label>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  ngModel
                  autocomplete="off"
                  placeholder="type here. . ."
                  required
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-sm-3 col-form-label"
                >Password</label
              >
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  autocomplete="off"
                  ngModel
                  placeholder="type here. . ."
                  required
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Password minimum length should be 6</small
                >
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-dark" type="submit">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
